.searchRow {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
}

.searchBody {
    display: flex;
    flex-direction: row;
}

.searchTitle {
    font-size: 20px;
    padding: 20px;
}